img {
    width: 90%;
    display: block;
    margin-bottom: 100px;
    border-radius: 3%;
}

.imgs {
    margin: 0 20px;
    display: flex;
    justify-content: center; /* 主軸方向（横方向）を中央に揃える */
    align-items: center; /* 交差軸方向（縦方向）を中央に揃える */
    flex-direction: column; /* 列方向に並べる */
    margin-top: 70px;
}

.t1 {
    font-size: 25px;
    margin: 20px 0;
}

.setumei {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center; /* 主軸方向（横方向）を中央に揃える */
    flex-direction: column;
}

.p1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.p2 {
    margin-top: 15px;
    text-align: center;
}

.zunda {
    text-align: center;
}